<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <title>Tech Blog</title>
</head>

<body class="flex-column min-100-vh">
   <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Tech Blog</a>
        </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/register"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
        {{#if loggedIn}}
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
        {{else}}
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
        {{/if}}
    </ul>
  </div>
</nav> 

  <header>
    <h1 class="text-center">Tech Blog</h1>
  </header>

  <main>
    {{{body}}}
  </main>
</body>

</html>
