<div>
<h2 class="text-center">Register For A Free Account</h2>>
    <form class="text-center">
        <div>
        <label for="register-id">Username:</label>
        <input type="text" id="registerUser"/>
        </div>
        <div>
        <label for="password-signup">Password:</label>
        <input type="password" id="registerPass"/>
        </div>
        <div>
        <button type="submit">Register</button>
        </div>
    </form>
</div>